@media (max-width: 1068px) {
    .main-hero {
        justify-content: center;
    }
    .hero-img {
        margin-top: 10px;
    }
}
@media (max-width: 756px) {
    .yt-btn {
        display: none;
    }
    .nav-items {
        padding-right: 10px;
    }
    .hashtag {
        font-size: 1.9rem;
    }
    .do-it{
        font-size: 2rem;
    }
}
@media only screen and ((min-height: 430px) and (max-width: 468px)) {
    .furqan-name {
        margin-top: 180px;
    }
}

@media (max-width: 619px) {
    .nav-items {
        display: none;
    }
    .hamburger {
        display: inline;
    }
    .main-nav {
        justify-content: space-between;
        align-items: space-between;
        gap: 2px;
        padding-right: 10px;
    }
    .logo {
        text-align: start;
    }
}
@media (min-width: 0px) {
    .hamburger-menu {
        display: none;
    }
}
@media (max-width: 600px) {
    .yt-btn {
        display: none;
    }
    .nav-items {
        padding-right: 5px;
    }

}
@media (max-width: 558px) {
   .nav-items {
     margin-right: 4px;
   }
   .nav-items ul {
    justify-content: center;
   }
   .main-hero {
    justify-content: center;
   }
   .hero-content h2 {
    text-align: center;
    font-size: 3rem;
   }
   .hero-content p {
    text-align: center;
   }
   .footer-small p { 
    text-align: center;
   }
   .furqan-image{
     width: 69%;
     height: 50px;
}
}

@media (max-width: 468px) {
    .main-nav {
        justify-content: space-between;
        width: 100%;
        padding-right: 10px;
    }
    .nav-items ul {
        justify-content: center;
    }
    .logo .codewithfurqan{
        text-align: center;
        font-size: 1.3rem;
    }

    .main-icons {
        font-size: 2.5rem;
    }
    .learn-btn {
        margin-left: 35%;
        width: 100px;
        height: 30px;
        font-size: 0.80rem;
    }
    .hero-content {
        margin-top: 30px;
    }
    .nav-items li {
        padding-bottom: 20px;
    }
    .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
    .hero-img img {
        max-width: 260px;

    }
    .why {
        font-size: 0.7rem;
    }
    .faqs {
        font-size: 1.1rem;
    }
    .answer p {
        font-size: 1rem;
    }
    .question-accordian h3 {
        font-size: 1rem;
    }
    .form-questions>.form-header h3 {
        font-size: 1.4rem;
    }
    .first-name, .last-name, .question label  {
        font-size: 0.9rem;
    }
    .submit {
        margin-top: 10px;
    }

    .follow {
        font-size: 1.3rem;
    }
    .footer-main, .footer-small {
        font-size: 0.7rem;
    }
    .main-nav ul{
        gap: 15px;
    }
    .main-nav ul li a {
        font-size: 0.9rem;
    }
    .card-common {
        font-size: 0.8rem;
    }
    .hero-content h2 {
        font-size: 1.7rem;
    }

}